@charset "UTF-8";

/* CSS Information
---------------------------------------------------------------
Site URL:http://machiaruki.com/
File name:access.css
Summary:base styles
Created:2020-10-26
Last update:2020-10-26 by Sadaoka
Author:	Sadaoka(BUNKASOZOSHA Co.,Ltd.)
Copyright:(C) BUNKASOZOSHA Co.,Ltd.
--------------------------------------------------------------- */

@media screen and (min-width: 981px) {

/* Contents */
/* ------------------------------------------------------------ */

main#access ul.internallinks {
    width: 980px;
    margin: 40px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main#access ul.internallinks li a {
    background: #fff url(../images/icon_arrow_under.png) no-repeat center bottom 5px;
    text-align: center;
    color: #000;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    width: 280px;
    height: 50px;
    margin: 20px 0 0;
    padding: 10px;
    display: block;
    border: 1px #bfbfbf solid;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

main#access ul.internallinks li a span {
    font-size: 18px;
    display: block;
}

main#access ul.internallinks li a:hover {
    background-color: #e1e1e1;
}

main#access section.content .inner figure {
    margin: 60px auto;
}

main#access section.content .inner .btn_area {
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main#access section.content .inner .btn {
    width: 340px;
    margin: 0 auto;
}

main#access section.content .inner .btn a {
    height: 40px;
}

main#access section.content .inner .notice {
    background-color: #fff;
    width: 630px;
    margin: 60px auto;
    padding: 30px;
    border: 5px #eddfc5 solid;
}

main#access section.content .inner .notice h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 0 0 30px;
    padding: 0 0 30px;
}

main#access section.content .inner .notice h4::after {
    content: "";
    background: #000;
    height: 1px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

main#access section.content .inner .notice dl {
    line-height: 1.7;
    width: 100%;
    display: table;
}

main#access section.content .inner .notice dl dt {
	text-align: left;
    width: 480px;
	display: table-cell;
}

main#access section.content .inner .notice dl dd {
	text-align: left;
	display: table-cell;
}

main#access section.content .inner .notice p {
    text-align: left;
    line-height: 1.7;
}

main#access section.content .inner .notice em {
    color: #b64936;
}

main#access section#section06 .googlemap {
    width: 100%;
    height: 566px;
    margin: 60px auto;
}

main#access section#section06 .printcomment {
    margin: 60px auto 0;
}

main#access section#section06 ul {
    margin: 30px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main#access section#section06 ul li {
    text-align: center;
    width: 230px;
}

main#access section#section06 ul li figure {
    width: 230px;
    margin: 0;
}

main#access section#section06 ul li figure img {
    width: 100%;
    height: auto;
}

main#access section#section06 ul li figcaption p {
    text-align: center;
    font-size: 16px;
    margin: 10px auto;
}

main#access section#section06 ul li .btn {
    width: 230px;
    margin: 0 auto;
}

main#access section#section06 ul li .btn a {
    height: 40px;
}

main#access section#section06 ul li .btn a span {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-right: -0.1em;
}

}