@charset "UTF-8";

/* CSS Information
---------------------------------------------------------------
Site URL:http://machiaruki.com/
File name:common_sp.css
Summary:base styles
Created:2020-11-10
Last update:2020-11-10 by Sadaoka
Author:	Sadaoka(BUNKASOZOSHA Co.,Ltd.)
Copyright:(C) BUNKASOZOSHA Co.,Ltd.
--------------------------------------------------------------- */

@media screen and (max-width: 980px) {

/* Link */
/* ------------------------------------------------------------ */

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:active {
    color: #fff;
    text-decoration: underline;
}

.alpha {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.alpha:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/* Font */
/* ------------------------------------------------------------ */

em {
    font-style: normal;
}

sup {
    font-size: 66%;
    vertical-align: top;
}

sub {
    font-size: 66%;
    vertical-align: baseline;
}

/* インデント1文字分 */
/* ------------------------------------------------------------ */

.indent {
    text-indent: -1em;
    margin-left: 1em;
}

/* Align */
/* ------------------------------------------------------------ */

.a_left {
    text-align: left !important;
}

.a_center {
    text-align: center !important;
}

.a_right {
    text-align: right !important;
}

/* Float */
/* ------------------------------------------------------------ */

.f_left {
    float: left;
}

.f_right {
    float: right;
}

/* Clear */
/* ------------------------------------------------------------ */

.clfx:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

/* HR */
/* ------------------------------------------------------------ */

hr {
    height: 1px;
    margin: 60px 0;
    padding: 0;
    display: block;
    border: 0;
    border-top: 1px #e6e6e6 solid;
}

/* Center合わせ */
/* ------------------------------------------------------------ */

.c_mgn {
    margin-left: auto;
    margin-right: auto;
}

/* pc_mode / sp_mode */
/* ------------------------------------------------------------ */

.pc_mode {
    display: none;
}

.sp_mode {
    display: inline !important;
}

/* Header */
/* ------------------------------------------------------------ */

header section.common_header {
}

header section.common_header .inner {
    margin: 0 auto;
    position: relative;
    /* 子要素をflexboxで揃える */
    display: flex;
    /* 子要素をflexboxにより縦方向に揃える */
    flex-direction: column;
    /* 子要素をflexboxにより左右中央に配置する */
    justify-content: center;
    /* 子要素をflexboxにより上下中央に配置する */
    align-items: center;
}

header section.common_header .inner h1 {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    margin: 10px 10px 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}

header section.common_header .inner .logo {
    width: 139px;
    margin: 40px auto 0;
}

header section.common_header .inner .logo img {
    width: 100%;
    height: auto;
}

/* Global menu */
/* ------------------------------------------------------------ */

#nav_toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 22px;
    cursor: pointer;
}

#nav_toggle>div {
    position: relative;
    width: 30px;
}

#nav_toggle span {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #be3d30;
    position: absolute;
    -webkit-transition: top .2s ease, -webkit-transform .3s ease-in-out;
    transition: top .2s ease, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, top .2s ease;
    transition: transform .3s ease-in-out, top .2s ease, -webkit-transform .3s ease-in-out;
}

#nav_toggle span:nth-child(1) {
    top: 0;
}

#nav_toggle span:nth-child(2) {
    top: 10px;
}

#nav_toggle span:nth-child(3) {
    top: 20px;
}

#nav_toggle:hover span:nth-child(1) {
    top: 4px;
}

#nav_toggle:hover span:nth-child(3) {
    top: 16px;
}

.open #nav_toggle span {
    background: #fff;
}

.open #nav_toggle span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open #nav_toggle span:nth-child(2) {
    top: 10px;
    width: 0;
    left: 50%;
}

.open #nav_toggle span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav_toggle {
    z-index: 1000;
}

#gloval_nav {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: -webkit-box;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
}

#gloval_nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color .6s ease;
    transition: color .6s ease;
}

#gloval_nav a:hover {
    color: #666;
}

#gloval_nav dl {
    list-style: none;
}

#gloval_nav dl dt {
    width: 120px;
    margin: 0 auto 40px;
}

#gloval_nav dl dd {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.03em;
    display: block;
}

#gloval_nav dl dd span {
    font-size: 14px;
    position: relative;
    display: block;
    margin: 10px 0 0;
    padding: 10px 0 0;
}

#gloval_nav dl dd span::before {
    content: "";
    background: #fff;
    height: 1px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#gloval_nav dl dd:hover span::before {
    background: #666;
}

#gloval_nav dl dd {
    margin: 30px 0 0;
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: opacity .1s ease, -webkit-transform .3s ease;
    transition: opacity .1s ease, -webkit-transform .3s ease;
    transition: transform .3s ease, opacity .1s ease;
    transition: transform .3s ease, opacity .1s ease, -webkit-transform .3s ease;
}

#gloval_nav dl dd:nth-child(2) {
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
}

#gloval_nav dl dd:nth-child(3) {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

#gloval_nav dl dd:nth-child(4) {
    -webkit-transition-delay: .45s;
    transition-delay: .45s;
}

#gloval_nav dl dd:nth-child(5) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}

#gloval_nav dl dd:nth-child(6) {
    -webkit-transition-delay: .75s;
    transition-delay: .75s;
}

#gloval_nav dl dd:nth-child(7) {
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}

.open {
    /*overflow: hidden;*/
}

.open #gloval_nav {
    visibility: visible;
    opacity: 1;
}

.open #gloval_nav dd {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity .9s ease;
    transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
}

/* Title */
/* ------------------------------------------------------------ */

main section.titlevisual {
    margin: 40px auto 0;
    height: 160px !important;
    position: relative;
}

main section.titlevisual .parallax {
    height: 160px !important;
    position: relative;
    overflow: hidden;
}

main section.titlevisual .parallax .background {
    position: absolute;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

main section.titlevisual .parallax .bg01 {
    background-image: url(../images/title_shopping.jpg);
}

main section.titlevisual .parallax .bg02 {
    background-image: url(../images/title_cafe.jpg);
}

main section.titlevisual .parallax .bg03 {
    background-image: url(../images/title_gourmet.jpg);
}

main section.titlevisual .parallax .bg04 {
    background-image: url(../images/title_parking.jpg);
}

main section.titlevisual .inner {
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.titlevisual .inner h2 {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.03em;
    margin-right: -0.03em;
    text-shadow: 0px 0px 4px #000;
}

main section.titlevisual .inner h2 span {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    display: block;
    padding: 15px 0;
}

main section.titlevisual .inner h2 span::after {
    content: "";
    background: #fff;
    height: 1px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    filter: drop-shadow(0 0 4px #000);
}

main section.titlevisual .inner .catchphrase {
    position: absolute;
    top: 50px;
    text-align: center;
}

main section.titlevisual .inner .catchphrase span {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin: 5px -0.1em 0 0;
    padding: 5px 10px;
    display: inline-block;
}

main section.titlevisual .inner .description {
    position: absolute;
    top: 120px;
    text-align: center;
}

main section.titlevisual .inner .description .txt {
    line-height: 1.7;
    margin-right: -0.1em;
    font-size: 12px;
    color: #fff;
    text-shadow: 0px 0px 4px #000;
}

main section.titlevisual .inner .btn {
    margin: 10px 0 0;
    float: none;
}

main section.titlevisual .inner .btn a:before,
main section.titlevisual .inner .btn a:after {
    box-sizing: border-box;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.3s ease-in-out;
}

main section.titlevisual .inner .btn a {
    /* 子要素をflexboxで揃える */
    display: flex;
    /* 子要素をflexboxにより縦方向に揃える */
    flex-direction: column;
    /* 子要素をflexboxにより左右中央に配置する */
    justify-content: center;
    /* 子要素をflexboxにより上下中央に配置する */
    align-items: center;
    width: 210px;
    height: 30px;
    text-decoration: none;
    background: #be3d30;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

main section.titlevisual .inner .btn a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #73241d;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

main section.titlevisual .inner .btn a:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

main section.titlevisual .inner .btn a span {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.2em;
    margin-right: -0.2em;
}

main section.titlevisual .inner .btn a img {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 20px;
    height: 15px;
}

/* Breadcrumb */
/* ------------------------------------------------------------ */

ul.breadcrumbs {
    background-color: #c3c5b5;
    font-size: 12px;
    margin: 110px 0 0 0;
    padding: 5px 10px;
    display: flex;
	flex-wrap: wrap;
}
ul.breadcrumbs li {
	display: inline-block;
	position: relative;
	padding-right: calc(16px + 8px);
	margin-right: 8px;
}
ul.breadcrumbs li::before {
	content: '›';
	width: 1em;
	height: 1em;
	line-height: 1;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
ul.breadcrumbs  li:last-child {
	margin-right: 0;
	padding-right: 0;
}
ul.breadcrumbs  li:last-child::before {
	content: normal;
}
ul.breadcrumbs li a {
    color: #000;
}

/* Contents */
/* ------------------------------------------------------------ */

main section.content {
    width: 100%;
    margin: 60px auto;
    padding: 0;
}

main section.content .inner {
    text-align: center;
    padding: 0 10px;
}

main section.content h3 {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-right: -0.03em;
    display: inline-block;
}

main section.content h3 span {
    font-size: 18px;
    position: relative;
    display: block;
    padding: 10px 0 15px;
}

main section.content h3 span::after {
    content: "";
    background: #000;
    height: 1px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

main section.content .inner a.tel[href^="tel:"] {
    pointer-events: auto;
    cursor: pointer;
    text-decoration: none;
}

/* Button */
/* ------------------------------------------------------------ */

.btn {
}

.btn a:before,
.btn a:after {
    box-sizing: border-box;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.3s ease-in-out;
}

.btn a {
    /* 子要素をflexboxで揃える */
    display: flex;
    /* 子要素をflexboxにより縦方向に揃える */
    flex-direction: column;
    /* 子要素をflexboxにより左右中央に配置する */
    justify-content: center;
    /* 子要素をflexboxにより上下中央に配置する */
    align-items: center;
    text-decoration: none;
    background: #be3d30;
    overflow: hidden;
    position: relative;
}

.btn a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #73241d;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn a:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.btn a span {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-right: -0.1em;
}

.btn a img {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 20px;
    height: 15px;
}

.btn_back {
}

.btn_back a:before,
.btn_back a:after {
    box-sizing: border-box;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.3s ease-in-out;
}

.btn_back a {
    /* 子要素をflexboxで揃える */
    display: flex;
    /* 子要素をflexboxにより縦方向に揃える */
    flex-direction: column;
    /* 子要素をflexboxにより左右中央に配置する */
    justify-content: center;
    /* 子要素をflexboxにより上下中央に配置する */
    align-items: center;
    text-decoration: none;
    background: #9ea288;
    overflow: hidden;
    position: relative;
}

.btn_back a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #6b6e56;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn_back a:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.btn_back a span {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-right: -0.1em;
}

.btn_back a img {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 20px;
    height: 15px;
}


/* Footer */
/* ------------------------------------------------------------ */

footer {
    background: #262626;
    text-align: center;
    padding: 0 0 20px;
}

footer .footerlink {
    /* 子要素をflexboxで揃える */
    display: flex;
    /* 子要素をflexboxにより縦方向に揃える */
    flex-direction: column;
    /* 子要素をflexboxにより左右中央に配置する */
    justify-content: center;
    /* 子要素をflexboxにより上下中央に配置する */
    align-items: center;
    background: #be3d30;
    height: 60px;
}

footer .footerlink h2 img {
    width: 134px;
    height: auto;
}

footer .inner {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

footer .inner ul {
    margin: 30px 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .inner ul li {
    background: #000;
    text-align: center;
    width: 49%;
    margin: 2% 0 0;
}

footer .inner ul li:nth-child(1),
footer .inner ul li:nth-child(2) {
    margin: 0;
}

footer .inner ul li img {
    width: 100%;
    height: auto;
}

footer .cooperation {
    color: #fff;
    text-align: left;
    font-size: 10px;
    line-height: 1.5;
    margin: 30px 10px;
}

footer .copyright {
    font-size: 10px;
    margin-top: 30px;
}

/* fadein */
/* ------------------------------------------------------------ */

.fadein {
    transform: translate(0, 40px);
    transition: all 700ms;
    opacity: 0;
}

/* scrollin */
/* ------------------------------------------------------------ */

.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

/* トップページに戻るボタン */
/* ------------------------------------------------------------ */

.pagetop {
    background: #000;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.pagetop a {
    display: block;
}

.pagetop a img {
    width: 30px;
    height: auto;
}

}