@charset "UTF-8";

/* CSS Information
---------------------------------------------------------------
Site URL:http://machiaruki.com/
File name:event_sp.css
Summary:base styles
Created:2020-10-26
Last update:2020-10-26 by Sadaoka
Author:	Sadaoka(BUNKASOZOSHA Co.,Ltd.)
Copyright:(C) BUNKASOZOSHA Co.,Ltd.
--------------------------------------------------------------- */

@media screen and (max-width: 980px) {

/* Title */
/* ------------------------------------------------------------ */

main#event section.titlevisual .inner .catchphrase {
    position: absolute;
    top: 170px;
    text-align: center;
}

main#event section.titlevisual .inner .catchphrase span {
    background-color: transparent;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 -0.1em 0 0;
    padding: 0;
    display: inline-block;
}

main#event section.titlevisual .inner .description {
    position: absolute;
    top: 220px;
    text-align: center;
}

main#event section.titlevisual .inner .description .txt {
    line-height: 1.5;
    margin-right: -0.1em;
    font-size: 12px;
    color: #000;
    text-shadow: none;
}

/* Contents */
/* ------------------------------------------------------------ */

main#event section.content .inner article {
    margin: 60px auto 0;
}

main#event section.content .inner article h4 {
    font-size: 18px;
    letter-spacing: 0.03em;
    margin-right: -0.03em;
}

main#event section.content .inner article .dllist {
	margin: 20px 0 0;
}

main#event section.content .inner article .dlbox {
	width: 100%;
    display: block;
}

main#event section.content .inner article .dlbox .dtbox {
	color: #808080;
	text-align: left;
    width: 100%;
	border-top: 1px #000 solid;
	display: block;
}

main#event section.content .inner article .dlbox .ddbox {
	text-align: left;
	width: 100%;
	border-top: 1px #bfbfbf solid;
	display: block;
}

main#event section.content .inner article .dlbox:last-child .dtbox {
	border-bottom: none;
}

main#event section.content .inner article .dlbox:last-child .ddbox {
	border-bottom: 1px #000 solid;
}

main#event section.content .inner article .dlbox .wrap {
    font-size: 14px;
    line-height: 1.7;
	padding: 5px 10px;
}

main#event section.content .inner .btn {
    width: 100%;
    margin: 20px auto 0;
}

main#event section.content .inner .btn a {
    height: 40px;
}

main#event section.content .inner article.notice h4 {
    background-color: #c3c5b5;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    padding: 5px;
}

main#event section.content .inner article.notice .content {
    background: #ffffff;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px;
    border: 1px #c3c5b5 solid;
    border-top: none;
}

main#event section.content .inner article.notice .content em {
    color: #b64936;
}

}