@charset "UTF-8";

/* CSS Information
---------------------------------------------------------------
Site URL:http://machiaruki.com/
File name:event.css
Summary:base styles
Created:2020-10-26
Last update:2020-10-26 by Sadaoka
Author:	Sadaoka(BUNKASOZOSHA Co.,Ltd.)
Copyright:(C) BUNKASOZOSHA Co.,Ltd.
--------------------------------------------------------------- */

@media screen and (min-width: 981px) {

/* Contents */
/* ------------------------------------------------------------ */

main#event section.content .inner article {
    margin: 90px auto 0;
}

main#event section.content .inner article h4 {
    font-size: 24px;
    letter-spacing: 0.03em;
    margin-right: -0.03em;
}

main#event section.content .inner article .dllist {
	margin: 30px 0 0;
}

main#event section.content .inner article .dlbox {
	width: 100%;
    display: table;
}

main#event section.content .inner article .dlbox .dtbox {
	color: #808080;
	text-align: left;
    width: 210px;
	border-top: 1px #000 solid;
	display: table-cell;
	vertical-align: top;
}

main#event section.content .inner article .dlbox .ddbox {
	text-align: left;
	width: 770px;
	border-top: 1px #bfbfbf solid;
	display: table-cell;
}

main#event section.content .inner article .dlbox:last-child .dtbox {
	border-bottom: 1px #000 solid;
}

main#event section.content .inner article .dlbox:last-child .ddbox {
	border-bottom: 1px #bfbfbf solid;
}

main#event section.content .inner article .dlbox .wrap {
    line-height: 1.7;
	padding: 15px 20px;
}

main#event section.content .inner .btn {
    width: 300px;
    margin: 30px auto 0;
}

main#event section.content .inner .btn a {
    height: 40px;
}

main#event section.content .inner article.notice h4 {
    background-color: #c3c5b5;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 10px 10px;
}

main#event section.content .inner article.notice .content {
    background: #ffffff;
    text-align: left;
    line-height: 1.7;
    padding: 20px;
    border: 1px #c3c5b5 solid;
    border-top: none;
}

main#event section.content .inner article.notice .content em {
    color: #b64936;
}

}