@charset "UTF-8";

/* CSS Information
---------------------------------------------------------------
Site URL:http://machiaruki.com/
File name:index.css
Summary:base styles
Created:2020-11-10
Last update:2020-11-10 by Sadaoka
Author:	Sadaoka(BUNKASOZOSHA Co.,Ltd.)
Copyright:(C) BUNKASOZOSHA Co.,Ltd.
--------------------------------------------------------------- */

@media screen and (min-width: 981px) {

/* Header */
/* ------------------------------------------------------------ */

header section.mainvisual {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/mainvisual.jpg);
}

header section.mainvisual .inner {
    margin: 0 auto;
    position: relative;
    /* 子要素をflexboxで揃える */
    display: flex;
    /* 子要素をflexboxにより縦方向に揃える */
    flex-direction: column;
    /* 子要素をflexboxにより左右中央に配置する */
    justify-content: center;
    /* 子要素をflexboxにより上下中央に配置する */
    align-items: center;
}

header section.mainvisual h1 {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    margin: 30px 0 0 30px;
    position: absolute;
    top: 0;
    left: 0;
}

header section.mainvisual .logo {
    text-align: center;
    padding: 40vh 0;
}

header section.mainvisual .logo img {
    width: auto;
    height: 20vh;
    filter: drop-shadow(1px 1px 3px #000) drop-shadow(1px -1px 3px #000) drop-shadow(-1px 1px 3px #000) drop-shadow(-1px -1px 3px #000);
}

header section.mainvisual .icon {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
}

header section.mainvisual .icon img {
    width: 30px;
    height: 66px;
    filter: drop-shadow(0 0 4px #000);
}

header section.mainvisual .animation {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
}

header section.mainvisual .keyframe {
    animation-name: anim_v;
}

@keyframes anim_v {
    0% {
        transform: translate(0, 0px);
    }
    100% {
        transform: translate(0, -20px);
    }
}

/* Section */
/* ------------------------------------------------------------ */
main#index section.introduction {
    text-align: center;
    margin: 120px auto;
}

main#index section.title {
    text-align: center;
    margin: 120px auto 0;
}

main#index section.titlevisual {
    margin: 60px auto 200px;
}

main#index section .inner {
    width: 980px;
    margin: 0 auto;
}

/* Headline */
/* ------------------------------------------------------------ */

main#index section .inner h2 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.03em;
    margin-right: -0.03em;
    display: inline-block;
}

main#index section .inner h2 span {
    font-size: 32px;
    position: relative;
    display: block;
    padding: 30px 0;
}

main#index section .inner h2 span::after {
    content: "";
    background: #000;
    height: 1px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* Introduction */
/* ------------------------------------------------------------ */

main#index section.introduction .inner .map {
    margin: 60px auto 0;
}

main#index section.introduction .inner .map .imgright {
    float: right;
    margin: 0 0 30px 30px;
}

main#index section.introduction .inner .map .comment {
    text-align: left;
    line-height: 2;
}

/* Parallax */
/* ------------------------------------------------------------ */

main#index section.titlevisual {
    margin: 60px auto 200px;
    height: 480px !important;
    position: relative;
}

main#index section.titlevisual .parallax {
    height: 480px !important;
    position: relative;
    overflow: hidden;
}

main#index section.titlevisual .inner {
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main#index section.titlevisual .inner .description {
    background-color: #fff;
    width: 470px;
    padding: 15px 0 0 20px;
    position: absolute;
    bottom: -80px;
}

main#index section.titlevisual .inner .btn {
    margin: 15px 0 0;
    float: right;
}

main#index section.titlevisual .inner .btn a:before,
main#index section.titlevisual .inner .btn a:after {
    box-sizing: border-box;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.3s ease-in-out;
}

main#index section.titlevisual .inner .btn a {
    /* 子要素をflexboxで揃える */
    display: flex;
    /* 子要素をflexboxにより縦方向に揃える */
    flex-direction: column;
    /* 子要素をflexboxにより左右中央に配置する */
    justify-content: center;
    /* 子要素をflexboxにより上下中央に配置する */
    align-items: center;
    width: 250px;
    height: 50px;
    text-decoration: none;
    background: #be3d30;
    overflow: hidden;
    position: relative;
}

main#index section.titlevisual .inner .btn a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #73241d;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

main#index section.titlevisual .inner .btn a:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

main#index section.titlevisual .inner .btn a span {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.2em;
    margin-right: -0.2em;
}

main#index section.titlevisual .inner .btn a img {
    position: absolute;
    top: 18px;
    right: 10px;
    width: 20px;
    height: 15px;
}

}