@charset "UTF-8";

/* CSS Information
---------------------------------------------------------------
Site URL:http://machiaruki.com/
File name:shopping.css
Summary:base styles
Created:2020-10-26
Last update:2020-10-26 by Sadaoka
Author:	Sadaoka(BUNKASOZOSHA Co.,Ltd.)
Copyright:(C) BUNKASOZOSHA Co.,Ltd.
--------------------------------------------------------------- */

@media screen and (min-width: 981px) {

/* Contents */
/* ------------------------------------------------------------ */

main#shopping section.content .inner ul {
    margin: 50px auto 0;
    display: inline-flex;
      flex-wrap: wrap;
}

main#shopping section.content .inner ul li {
    text-align: center;
    margin: 40px 40px 0 0;
}

main#shopping section.content .inner ul li:nth-of-type(3n){
    margin: 40px 0 0 0;
}

main#shopping section.content .inner ul li h4 {
    text-align: center;
    font-size: 16px;
    margin: 10px auto;
}

main#shopping section.content .inner ul li .comment {
    text-align: center;
    font-size: 12px;
    margin: 10px auto;
}

main#shopping section.content .inner .btn {
    width: 300px;
    margin: 0 auto;
}

main#shopping section.content .inner .btn a {
    height: 40px;
}

main#shopping section.content .inner .highlights {
    margin: 90px auto;
}

main#shopping section.content .inner .highlights h4 {
    font-size: 24px;
    letter-spacing: 0.03em;
    margin-right: -0.03em;
}

main#shopping section.content .inner .highlights div {
    margin: 30px auto 0;
}

main#shopping section.content .inner .highlights .imgleft {
    float: left;
    margin: 0 30px 0 0;
}

main#shopping section.content .inner .highlights .imgright {
    float: right;
    margin: 0 0 0 30px;
}

main#shopping section.content .inner .highlights ul {
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
}

main#shopping section.content .inner .highlights ul li {
    text-align: center;
    margin: 30px 29px 0 0;
}

main#shopping section.content .inner .highlights ul li:nth-of-type(4n),
main#shopping section.content .inner .highlights ul li:last-child {
    margin: 30px 0 0 0;
}

main#shopping section.content .inner .highlights span {
    font-size: 12px;
    margin: 5px 0 0;
    display: block;
}

main#shopping section.content .inner .highlights figcaption {
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 2;
}

main#shopping section.content .inner .btn_back {
    width: 230px;
    margin: 90px auto 0;
}

main#shopping section.content .inner .btn_back a {
    height: 40px;
}

main#shopping section.content .inner .highlights figcaption dl {
    text-align: left;
    line-height: 1;
    margin: 20px 0 0;
    display: block;
}

main#shopping section.content .inner .highlights figcaption dt {
    color: #b64936;
    font-size: 18px;
    margin-right: -0.1em;
    display: block;
}

main#shopping section.content .inner .highlights figcaption dd {
    margin: 10px 0 0;
    display: block;
}

main#shopping section.content .inner .googlemap {
    width: 100%;
    height: 566px;
    margin: 0 auto 60px;
}

main#shopping section.content .inner .map figcaption {
    text-align: center;
    margin-top: 10px;
    margin-right: -0.1em;
}

main#shopping section.content .inner aside {
    margin: 90px auto;
}

main#shopping section.content .inner aside h5 {
    color: #73241d;
    font-size: 18px;
    letter-spacing: 0.03em;
    margin-right: -0.03em;
}

main#shopping section.content .inner aside .dllist {
	margin: 30px 0 0;
}

main#shopping section.content .inner aside .dlbox {
	width: 100%;
    display: table;
}

main#shopping section.content .inner aside .dlbox .dtbox {
	color: #808080;
	text-align: left;
    width: 210px;
	border-top: 1px #000 solid;
	display: table-cell;
	vertical-align: top;
}

main#shopping section.content .inner aside .dlbox .ddbox {
	text-align: left;
	width: 770px;
	border-top: 1px #bfbfbf solid;
	display: table-cell;
}

main#shopping section.content .inner aside .dlbox:last-child .dtbox {
	border-bottom: 1px #000 solid;
}

main#shopping section.content .inner aside .dlbox:last-child .ddbox {
	border-bottom: 1px #bfbfbf solid;
}

main#shopping section.content .inner aside .dlbox .wrap {
    line-height: 1.7;
	padding: 15px 20px;
}

main#shopping section.content .inner aside .btn {
    width: 340px;
    margin: 60px auto 0;
}

main#shopping section.content .inner .cooperation {
    text-align: right;
    font-size: 12px;
    margin: 30px 0 0;
}

}